<!-- wp:template-part {"slug":"header-p"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group"><!-- wp:group {"tagName":"article","layout":{"type":"constrained"}} -->
<article class="wp-block-group"><!-- wp:group {"tagName":"header","layout":{"type":"constrained"}} -->
<header class="wp-block-group"><!-- wp:heading {"level":1} -->
<h1 class="wp-block-heading">Nichts gefunden</h1>
<!-- /wp:heading --></header>
<!-- /wp:group -->

<!-- wp:group {"className":"entry-content","layout":{"type":"constrained"}} -->
<div class="wp-block-group entry-content"><!-- wp:paragraph -->
<p>Sorry, aber hier ist nichts. Vielleicht hilft eine Suche?</p>
<!-- /wp:paragraph -->

<!-- wp:search {"label":"Suchen","buttonText":"Suchen"} /--></div>
<!-- /wp:group --></article>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->